@page
@model MyScriptureJournal.Pages.Entries.IndexModel

@section Scripts {
    <script>function submitSort() {
        document.getElementsByTagName("form")[1].submit();
        }</script>
}

<h1>Entries</h1>

<form class="search">
    <p>
      <input type="text" asp-for="SearchString" class="bar"/> <br>
      <input type="submit" value="Search" class="btn btn-primary"/>
    </p>
</form>

<form>
    <p>
        Book:
        <select asp-for="EntryBook" asp-items="Model.Books" onchange="submitSort()">
            <option value="">All</option>
        </select>
        Sort by:
        <select asp-for="sortByDate" onchange="submitSort()">
            <option value="true">Date</option>
            <option value="false">Book</option>
        </select>
    </p>
    <a asp-page="Create" class="btn btn-primary">Add New</a>
</form>
<div class="entries">
    @foreach (var item in Model.Entry)
    {
        <div class="cell">
            <div class="title">
                <span class="date">@Html.DisplayFor(modelItem => item.Date)</span><br>
                @Html.DisplayFor(modelItem => item.Book)
                @Html.DisplayFor(modelItem => item.Chapter):
                @Html.DisplayFor(modelItem => item.Verses)
            </div>
            <div class="note">
                @Html.DisplayFor(modelItem => item.Annotation)
            </div>
                <div class="buttons">
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a> 
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Details</a> 
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Delete</a>
                </div> 
        </div>
        <br>
    }

</div>